/*****************************************************
*  style_custom.css
*
*   - custom theme css
*   - tabs onboarding
*   - wordpress sidebar widgets
*
******************************************************/


/*Custom theme css to override the adhocracy css*/

body {
    background: $bg1;

    html.overlay & {
        background: none;
    }
}

h2, h3, h4, h5 {
    color: black;
}
h1, a, legend, .tabnav li a.active, .tabnav li a:hover, .ui-widget-content a {
    color: $primary-color;
}
h1, h2, h3, h4, h5, h6, legend {
    font-family: Georgia, serif;
}
.page_title,
#col1_content > h1,
.full_teaser > h1,
#col1_content > h2,
.full_teaser > h2,
.morelink_header > h2 {
    background: url("/static_theme/static/images/element_line_dotted_large.gif") repeat-x scroll left bottom transparent;
    padding-bottom: 11px;
    font-size: 34px;
    font-weight: normal;
    margin: 0 0 20px 0;
    color: $primary-color;
}

#col1_content > h2 + hr, .full_teaser > h2 + hr {
    display: none;
}


.meta a, .comment_form a {
    color: $fg1;
}
.page_margins {
    width: 960px;
    padding: 0 10px;
    background: white;

    // HACK: clear margins
    border-top: 1px solid white;

    html.overlay & {
        padding: 0;
    }
}
.page_wrapper {
    padding: 0 22px;
}
.full_teaser {
    padding: 0;
}
#col1_content {
    padding: 0 30px 0 0;
}
#col3_content {
    margin: 0 0 0 10px;

    .content_list {
        padding: 0;
    }
}

#searchbox, .list_filter {
    padding-right: 0;
}
#searchform #s, .list_form input.q {
    width: 170px;
}

.paper_selection {
    padding-top: 45px;
}
#sidebar_nav {
    background: url("/static_theme/static/images/element_line_dotted_small.gif") repeat-x scroll left bottom transparent;
    margin-bottom: 15px;
    padding-bottom: 0;
    font-size: 15px;

    > div {
        background: none;
        padding-bottom: 0;
    }

    ul {
        background: none;
        padding: 0;
    }

    li {
        border-top: none;
        border-bottom: 1px dotted $border;

        &:last-child {
            border-bottom: none;
        }

        a {
            color: #2D3441;
            font-weight: normal;

            &:hover, &.current {
                background: none;
                text-decoration: none;
                color: $primary-color;

                &:before {
                    background: url("/static_theme/static/images/element_arrow_red.png") no-repeat scroll center transparent;
                    width: 13px;
                    height: 19px;
                    top: 10px;
                    left: 1px;
                    border: none;
                }
            }
        }
    }
}

#paper_box, #selection_box {
    background: $bg1;
}
#subheader {
    background: none;
    margin-bottom: 0px;
    max-height: none;
    padding-top: 0px;
    overflow: auto;
}

#subheader .page_wrapper {
    overflow: hidden;
    display: block;
}

#main .ui-widget-header,
#subheader .page_wrapper {
    background: url("/static_theme/static/images/subheader_shadow_grey.png") repeat-x left bottom $bg1;
    padding-top: 30px !important;
    padding-bottom: 15px !important;
}
#organisation_logo {
    padding-left: 0px;
}

#content-startpage {
    background: url("/static_theme/static/images/box_shadow_grey.png") repeat-x left bottom $bg1;
    padding: 30px 22px 1px;
    margin: -30px -22px 0;
    border-bottom: 1px dotted $border;
}
.register a.button, .register a.button.large {
    color: $primary-color;
}

#stats {
    border-top: none;
    padding-top: 30px;
}

#main .ui-tabs-nav,
#subnav {
    li a {
        @include button($button-color);

        color: #2D3441;
        font-weight: normal;
        text-transform: uppercase;
        padding: 0 19px;
        font-size: 13px;

        // overwrite button definitions
        border: none;
        background: none;

        &:hover, &:focus {
            background: #888;
            color: white;
        }
    }

    li.ui-tabs-selected,
    li.current {
        position: relative;

        a {
            background: #dcd9d0;

            &:hover {
                color: white;
                background: #dcd9d0;
            }

            &:after {
                display: block;
                position: absolute;
                border: 17px solid transparent;
                border-top-color: #dcd9d0;
                width: 0;
                height: 0;
                bottom: -30px;
                left: 50%;
                margin-left: -17px;

                // hide content
                content: '.';
                text-padding: 40px;
                overflow: hidden;
            }
        }
    }
}

#flash_message {
    background: none;
}
#flash_message .page_wrapper {
    background: $flash;
}

#main {
    background: none;
    margin: 0;
}
#main .page_wrapper {
    padding-bottom: 60px;
    padding-top: 30px;

    html.overlay & {
        padding: 0;
    }
}
#footer {
    background: none;
}
#footer .page_margins {
    padding: 10px;
}
#footer .page_wrapper {
    background: $bg1;
    padding: 22px !important;
}
.footer_content {
    padding: 0 1em;

    .subcr {
        padding: 0;
    }
}

#col1 .content_list {
    background: $bg1;
    padding: 11px;
    margin-bottom: 22px;

    > li {
        background: white;
        padding: 1em 11px;
    }
    > li:nth-child(2n) {
        background: none;
    }
}
/*Tabs onboarding aboutpage*/

#main .ui-widget {
    font-family: Arial,sans-serif;
}
#main .ui-widget input,
#main .ui-widget button {
    font-family: Arial,sans-serif;
    font-size: 13px;
}
/* TODO: This could be much shorter [joka] */
#main .ui-widget p,
#main .ui-widget h1,
#main .ui-widget h2,
#main .ui-widget h3 {
    margin-left: 23px;
    margin-right: 23px;
    padding-left: 0;
    padding-right: 0;
    width: 65%;
}
#main .ui-widget-content ul {
    padding-left: 16px;
}
#main .ui-widget .register {
    margin-left: 13px;
    margin-bottom: 60px;
}
#main .ui-widget img {
    margin-left: 23px;
    margin-right: 23px;
}
#main .ui-widget h1 {
    margin: 0 23px 27px 23px;
    padding: 27px 0 0 0;
    background: url("/static_theme/static/images/element_line_dotted_large.gif") repeat-x scroll left bottom transparent;
    padding-bottom: 11px;
}
#main .ui-widget-content,
#main.with_wordpress_tabs .page_wrapper {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
#main.with_wordpress_tabs .page_wrapper,
#main.with_wordpress_tabs #col1_content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#main .ui-tabs,
#main .ui-tabs .ui-tabs-panel {
    border:none;
    padding:0;
}
#main .ui-tabs-nav {
    border:none;
    clear: none;
    padding-top: 19px;
    margin: 0px;
}
#main .ui-widget-header {
    padding-left: 22px;
    padding-right: 22px;
}
#main .ui-widget-header,
#main .ui-tabs-nav li {
    @include border-radius(0);
    border: none;
}

#main .put-nav {
    display:none;
}
label.armhint {
    display: none;
}


/*Wordpress pages*/

#main .widget-area .shailan_SubpagesWidget,
#main .widget-container ul,
#main ul.subpages li,
#main .widget-container {
    list-style: none;
    background: none;
}


/* Menu in the right column */
#secondary {
    padding: 0 0 0 10px;
}
#secondary ul.xoxo {
    margin: 0;
}
#col3 ul.subpages {
    margin: 0;
    padding: 0;

    li {
        border-bottom: 1px dotted $border;

        &:first-child {
            border-top: 1px dotted $border;
        }
        a {
            display: block;
            color: $black;
            padding: 0.5em;
            font-weight: normal;
            font-size: 1.2em;
        }
        a:hover, &.current_page_item a {
            color: $primary-color;
            text-decoration: none;
        }
    }
}

.pager_wrapper .floatbox {
    background: $bg1;
}

#settings {
    #col1 {
        width: 750px;

        #col1_content {
            padding: 0 0px 0 10px;
            margin: 0 -10px 0 0px;
        }
    }
    #col3 {
        width: auto;
        margin: 0 750px 0 -15px;

        #col3_content {
            padding: 0 15px 0 0;
        }
        .affix {
            width: 164px;
            top: 135px;
        }
    }
}

.tooltip {
    background: #fffcec;
    border: 1px solid #ffeda7;
}

#welcome_message .info_box,
.alert {
    margin-left: 0;
    margin-right: 0;
}

// center event icons
#col1 ul.content_list.events_pager > li:before {
    left: 9px;
}

.morelink_header .more_link {
    bottom: 10px;
}

// set non-white arrow color
.register a.button:after {
    background-position-y: -600px;
}

.vote_count.neutral {
    color: $fg1;
}

// hide icon when using more_link and icon_link together (deprecated)
.more_uppercase,
.more_link,
.more {
    &.icon_link {
        background: none;
    }
}

.pager {
    .current, a:active {
        color: white;
        background-color: $default-button-color;
    }
    a:hover, a:focus {
        color: white;
        background-color: lighten($default-button-color, 10%);
    }
}
