$primary-color: #e0001a;
$black: #333;
$button-color: #f9f9f9;
$red: $primary-color;
$green: #479459;
$register-color: $green;
$header-color: #2b2b2b;
$header-color2: #3c3c3c;

$bg1: #f7f6f2;
$bg2: #e6e6e6;
$border: #b5b5b5;
$fg1: #666;

$flash: #fffde4;
